[user]
  name=JRice
  email=jrice@eol.org
[github]
  user = JRice
[core]
  # pager = `brew --prefix git`/share/git-core/contrib/diff-highlight/diff-highlight | less
  pager = colordiff | less
[color]
  branch=auto
  diff=auto
  status=auto
[color "branch"]
  current=yellow reverse
  local=yellow
  remote=green
[color "diff"]
  meta=yellow bold
  frag=magenta bold
  old=red bold
  new=green bold
[color "status"]
  added=yellow
  changed=green
  untracked=cyan
[merge]
  tool=vimdiff
[branch]
  autosetupmerge=true
[alias]
  co = checkout
  st = status -sb
  ci = commit
  br = branch
  ls = ls-files
[rerere]
	enabled = 1
[pull]
	rebase = true
[push]
	default = simple
